<!--<% layout('masterpage') -%>-->

<div class="container" style="margin-top:88px;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h3 class="title-slide" style="margin-bottom:20px">BOOK DETAIL</h3>
        </div>
    </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="book-shadow-detail">
                    <img src="<%=data.Book.cover%>">
                </div>
            </div>
            <div class="col-md-5">
                <p>
                <h3 style="margin-top:0"><%=data.Book.title%></h3>
                <h4 style="font-family: 'signikalight';color:#d7254a;margin-bottom:30px;">by <%=data.Book.authors%></h4>
                <p>
                    <h4 style="margin-bottom:0px;">ISBN</h4>
                    <p style="color:#999"><%=data.Book.isbn%></p>
                </p>
                <p>
                    <h4 style="margin-bottom:0px;">PUBLISHER</h4>
                    <p style="color:#999"><%=data.Publisher.name%></p>
                </p>
                <p>
                    <h4 style="margin-bottom:0px;">PUBLICATION DATE</h4>
                    <p style="color:#999"><%=data.Book.published_date%></p>
                </p>
                <p>
                    <h4 style="margin-bottom:0px;">PAGES</h4>
                    <p style="color:#999">650</p>
                </p>
                <p>
                    <button type="submit" class="btn btn-ak-red" style="width:180px;height:40px;margin-right:50px;margin-top:10px;">BUY/RENT</button>
                    <button type="submit" class="btn btn-ak-red" style="width:180px;height:40px;margin-top:10px;">ADD TO WISHLIST</button>
                </p>
            </div>
        </div>
</div>
<hr style="margin-bottom:10px;">
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h4 style="margin-bottom:20px" class="pull-left">Share on :</h4>
            <img src="/img/Tw.png" class="pull-right" width="40px">
            <img src="/img/FB.png" class="pull-right" width="40px" style="margin-right: 30px;">
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<div class="desc">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h4 style="margin-bottom:20px;margin-top:20px" class="pull-left">Synopsis</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <%- data.Book.description -%>
            </div>
        </div>
    </div>
</div>


<div class="container" style="margin-bottom:20px">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h4 style="margin-bottom:20px;margin-top:20px" class="pull-left">Review <i style="font-style:normal;color:#d7254a">(0)</i></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <!--media-->
              <!--<div class="media">
                <a class="pull-left" href="#">
                  <div class="avatar-frame"><img src="/img/avatar.jpg"></div>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Media heading <i class="attr-font">12 hour ego</i></h4>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                <p class="attr-comment">
                    <a href=#><i class="attr-font">Comment</i></a> 
                    <a href=#><i class="attr-font fa fa-thumbs-up fa-lg"></i></a> 
                    <a href=#><i class="attr-font fa fa-thumbs-down fa-lg"></i></a>
                </p>
                </div>
              </div>
              <div class="media">
                <a class="pull-left" href="#">
                  <div class="avatar-frame"><img src="/img/avatar.jpg"></div>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Media heading <i class="attr-font">12 hour ego</i></h4>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                <p class="attr-comment">
                    <a href=#><i class="attr-font">Comment</i></a> 
                    <a href=#><i class="attr-font fa fa-thumbs-up fa-lg"></i></a> 
                    <a href=#><i class="attr-font fa fa-thumbs-down fa-lg"></i></a>
                </p>
                <div class="media">
                    <a class="pull-left" href="#">
                      <div class="avatar-frame"><img src="/img/avatar.jpg"></div>
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">Nested media heading <i class="attr-font">12 hour ego</i></h4>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <p class="attr-comment">
                            <a href=#><i class="attr-font">Comment</i></a> 
                            <a href=#><i class="attr-font fa fa-thumbs-up fa-lg"></i></a> 
                            <a href=#><i class="attr-font fa fa-thumbs-down fa-lg"></i></a>
                        </p>
                    </div>
                  </div>
                </div>
              </div>-->
            <!--media end-->
            <textarea class="form-control" rows="3" style="margin-top:20px;margin-bottom:10px"></textarea>
            <input type="submit" tabindex="100" value="POST" class="btn btn-ak-primary pull-right" name="wp-submit">
            </div>
    </div>
</div>



<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/aksaramaya.js"></script>